button,
.button,
input[type="button"],
input[type="submit"] {
  padding: 0.875rem;
  border-radius: 6%;
  background-color: var(--color-bg);
  color: var(--color-fg-style-1);
  outline: none;
  cursor: pointer;
  font-family: var(--family);
  transition: color 0.5s ease, border 0.5s ease;
  box-shadow: none;
  border: solid 2px var(--color-border);

  &:hover {
    transition: color 0.5s ease, border 0.5s ease;
    color: var(--color-fg-accent);
    border: solid 2px var(--color-fg-accent);
  }
}
