.worker {
  display: flex;
  align-items: center;

  .worker {
    img {
      width: 4.93rem;
      height: 4.93rem;
      border-radius: 50%;
      border: solid 2px var(--color-border);
    }
  }
}
