@use "./../libs/breakpoints";

#footer {
  background-color: var(--color-invert-bg-style-1);
  color: var(--color-bg);
  padding: 6.25rem 0;

  .wrapper {
    .grid {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 1rem;
      flex-direction: column;
      .logo {
        color: var(--color-bg);
      }
      .footer__inner-grid {
        margin-top: 4.625rem;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: minmax(6.25rem, auto);

        @include breakpoints.md {
          grid-template-columns: 1fr;
        }

        .addition:first-child {
          &.addition::before {
            top: -1.7rem;
          }
        }
        .footer__menu {
          grid-column: 1/2;
          grid-row: 1/2;
          display: grid;
          grid-template-columns: repeat(3, 1fr);

          ul {
            li {
              margin-bottom: 0.7rem;
            }
          }
          .footer__menu-pages {
            li {
              &:first-child {
                &.addition::before {
                  content: "Pages";
                  top: -1.7rem;
                }
              }
            }
          }
          .footer__menu-company {
            li:first-child {
              &.addition::before {
                content: "Company";
                top: -1.7rem;
              }
            }
          }
          .footer__menu-utility {
            .addition:first-child {
              &.addition::before {
                content: "Utility";
                top: -1.7rem;
              }
            }
          }
        }
        .footer__subscribe {
          @include breakpoints.md {
            grid-column: 1/2;
            grid-row: 2/3;
            margin-top: 2rem;
          }
          grid-column: 2/3;
          grid-row: 1/2;
          p {
            line-height: 1.7rem;
            margin-bottom: 1rem;
            &::before {
              content: "Newsletter";
            }
          }
          input {
            width: 100%;
            padding: 1.25rem;
            border-radius: 0.5rem;
          }
        }
        .footer__copyright {
          @include breakpoints.md {
            grid-column: 1/2;
            grid-row: 4/5;
            align-self: center;
            justify-self: center;
          }
          grid-column: 1/2;
          grid-row: 2/3;
          align-self: end;
          justify-self: start;
          a {
            border-bottom: 1pt dotted var(--color-fg-accent-dark);
          }
        }
        .footer__socio-links {
          @include breakpoints.md {
            grid-column: 1/2;
            grid-row: 3/4;
            align-self: center;
            justify-self: center;
          }
          grid-column: 2/3;
          grid-row: 2/3;
          font-size: 1.5rem;
          align-self: end;
          justify-self: end;
          ul {
            display: flex;
            gap: 1.25rem;
          }
        }
      }
    }
  }
}
