@use "./../libs/breakpoints";

#testimonials {
  padding: 6.25rem 0;

  .wrapper {
    margin: 0 auto !important;
    max-width: 96rem;
    @include breakpoints.lg {
      margin: 0 0 0 auto !important;
    }

    .grid {
      padding: 1rem;
      position: relative;
      .testimonials__header {
        margin-bottom: 0.75rem;
        .addition {
          &::before {
            content: "Testimonials";
          }
        }
      }
      .testimonials__list {
        margin-bottom: 1.25rem;
        padding: 1.875rem;
        display: flex;
        height: 14rem;
        overflow-x: hidden;

        .testimonials__list-item {
          min-width: 32.125rem;
          padding: 1rem;

          .testimonials__stars {
            display: flex;
            margin-bottom: 0.75rem;
            grid-gap: 1pt;
          }
          h4,
          p {
            color: var(--color-fg-testimonials);
          }
          h4 {
            font-size: 1.5rem;
            margin-bottom: 0.75rem;
          }
          p {
            font-size: 0.9375rem;
            margin-bottom: 0.75rem;
          }
          span {
            &::before {
              content: "";
              border-right: 2px solid var(--color-fg-accent);
              margin-right: 1rem;
            }
          }
        }
      }
      .testimonials__control {
        display: flex;
        justify-content: end;
        max-width: 80rem;
        a {
          cursor: pointer;
          line-height: 3.75rem;
          width: 3.75rem;
          height: 3.75rem;
          text-align: center;
          font-size: 2rem;
          border-color: var(--color-fg-accent-dark);
          margin-right: 0.25rem;
          color: var(--color-fg-accent-dark);

          &:hover {
            border-color: var(--color-fg-accent);
            color: var(--color-fg-accent);
          }
        }
      }
    }
  }
}
