@use "./../libs/breakpoints";

.wrapper {
  width: 100%;
  margin: 0 auto;

  @include breakpoints.lg {
    max-width: 72rem;
  }
  @include breakpoints.md {
    max-width: 72rem;
  }
  @include breakpoints.sm {
    max-width: 72rem;
  }
  @include breakpoints.xs {
    max-width: 72rem;
  }
}
